# This name will appear in the GitHub Actions list.
name: 'Build MiryokuCorneQWERTYPointing'

on:
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano_v2"]'
      shield: '["corne_left", "corne_right"]'
      alphas: '["qwerty"]'
      kconfig: '["CONFIG_ZMK_POINTING=y"]'
